{% extends 'navigationbar.html' %}
    {% load static %}
{% block body %}




    <div class="container" styifle= "margin-top:50px">
    <br><br>
    <h2 class="text-center">Admin Login</h2>
        <br><br>
    <form method="post">
        {% csrf_token %}
        <label>Admin Name</label>
        <input type = text class="form-control" name="uname">
        <label>Password</label>
        <input type = "password" class="form-control" name="pwd">
        <br>
        <input type = "submit" value="Login" class="form-control btn btn-primary">
    </form>
</div>
{% endblock %}

